@use "../0-abstracts/media" as m;

body {
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 350px;
        gap: 4rem;
        margin: 5rem auto;
        header {
            max-width: 300px;
            margin: 0 auto;
        }
        main {
            max-width: 300px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(3,auto);
            .whitebox {
                grid-column: 1/2;
                grid-row: 1/2;
            }
        }
    }
}

@include m.for-desktop-up (1000px) {    
    body {
        .wrapper {
            flex-direction: row-reverse;
            justify-content: left;
            max-width: 100vw;
            width:100vw ;
            justify-content: left;
            margin-left: calc(35% - 100px);
            align-items: center;
            gap: 10rem;

            header {
                width: 35vw;
                margin: 0;
                flex-basis: 200%;
                max-width: 450px;
                text-align: left;
            }
            main {
                width: 35vw;
                margin: 0;
                flex-basis: 100%;
            }
        }
    }
}

@include m.stop-top-overflow (900px,550px) {

}
