@use "../0-abstracts/colors" as c;


.content {
    width: 100%;
    .msg {
        padding: 0.3rem 0.5rem;
        border-radius: 0.8rem 0.8rem 0.8rem 0.4rem;
        max-width: 60%;
        box-shadow: 0rem 0.2rem 0.2rem rgb(230, 230, 230);
    }
    .msg-received {
        background-color: hsl(276, 55%, 52%, 10%); 
        color:c.$ModerateViolet-chatontheleft ; 
    }
    .msg-sent {
        background-color: white;  
        border-radius: 0.8rem 0.8rem 0.4rem 0.8rem; 
    }
    .msg-photo {
        img{
            width: 100%;
            border-radius: 1rem;
        }

    }
    .msg-option {
        width: 70%;
        padding: 0.8rem 0.8rem;
        color: white;
        background: c.$LightViolet;
        background: linear-gradient(45deg, c.$LightMagenta 0%, c.$LightViolet 80%);
        p {
            margin: 0;
            &::before {
                content: '';
                padding: 0.1rem 0.4rem ;
                margin-right: 0.5rem;
                border: 1px solid white;
                border-radius: 50%;
            }
        }
    }
    .type-msg {
        max-width: 100%;
        padding: 0.3rem 0.8rem;
        background-color: white;
        border-radius: 2rem;
        p {
            color: rgb(200, 200, 200);
        }
        .arrowright {
            background-color:  black;
            color: white;
            border-radius: 50%;
            padding: 0.4rem 0.6rem;
        }
    }
}