//example: $Brightorange: hsl(31, 77%, 52%);

// Text

$PaleVioletsub-headingatthetopoftheappUI: hsl(276, 100%, 81%);
$ModerateViolet-chatontheleft: hsl(276, 55%, 52%);
$DesaturatedDarkViolet-chatontheright: hsl(271, 15%, 43%);
$GrayishBlueplaceholdertext: hsl(206, 6%, 79%);
$VeryDarkDesaturatedViolet-mainheading: hsl(271, 36%, 24%);
$DarkGrayishViolet-paragraph: hsl(270, 7%, 64%);

// Gradients

//These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient:

$LightMagenta: hsl(293, 100%, 63%);
$LightViolet: hsl(264, 100%, 61%);

// Secondary

$White: hsl(0, 0%, 100%);
$LightGrayishViolet-appbackground: hsl(270, 20%, 96%);
$VeryLightMagenta-radiobuttonoutline: hsl(289, 100%, 72%);