
@use  '../0-abstracts/colors' as c;

body {
    background-color:white;
    .wrapper {

        &::before {
            content: '';
            position: absolute;
            width: max(200px,100vw );
            height: min(max(50vh ,75vw ),80vh);
            background: c.$LightViolet;
            background: linear-gradient(45deg, c.$LightViolet 50%, c.$LightMagenta 100%);
            border-radius: 0 0 50% 50%;
            top: 0;
            left: -50%;
            z-index: -1;
            position: fixed;
        }
        &::after {
            content: '';
            position: absolute;
            width: max(200px,100vw );
            height: min(max(50vh ,50vw ),80vh);
            background: c.$LightGrayishViolet-appbackground;
            border-radius: 50% 50% 0 0;
            bottom: 0;
            right: -50%;
            z-index: -1;
            position: fixed;
        }
        header {
            text-align: center;
        }
        main {
            box-shadow: 0.5rem 1rem 3rem gray;
            .whitebox {
                background-color: white;
                height: 1.5rem;
                width: 60%;
                border-radius: 0 0 1rem 1rem;
                margin: 0 auto;
            }
            background-color: c.$LightGrayishViolet-appbackground;
            border-radius: 1rem;
            outline: 0.8rem solid white;
            //padding: 0.5rem;
            overflow: hidden;
            .contact    {
                padding: 2rem 0rem 0.5rem 0;
                color: white;
                border-radius: 0 0 0.5rem 0.5rem;
                background: c.$LightViolet;
                background: linear-gradient(45deg, c.$LightViolet 25%, c.$LightMagenta 100%); 
                .arrowleft {
                    border-radius: 50%;
                    padding: 0.4rem 0.6rem;
                }
                .contact-details {
                    h2, p {
                        padding: 0;
                        margin: 0;
                        margin-left: 0.5rem;
                    }
                    p {
                        opacity: 0.5;
                    }
                }
                img {
                    width: 2rem;
                    border-radius: 50%;
                    border: 2px solid white;
                }
                .menu {
                    &::after {
                        content: '\2807';
                        font-size: 1rem;
                        padding: 0 0.6rem;
                    }
                }
            }
        }
    }

}
